<label>{% trans %}List of Godowns{% endtrans %} : </label>
<div class="panel-body nopadding">
  {% if not gkresult %}
    <div class="bg-danger col-xs-12" style="padding:10;">
    <label class="text-danger">No Godowns Found</label>
    </div>
  {%else%} 
<table id="latable" class="table shadow table-bordered">
    <thead>
      <tr>
        <th class="lngwrap">
          {%trans%}Select{%endtrans%}
        </th>
        <th class="lalign">
        {% trans %}Godown Name{% endtrans %}
        </th>
        <th class="lalign" >
        {% trans %}State{% endtrans %}
        </th>
        <th class="lalign" >
        {% trans %}Address{% endtrans %}
        </th>
      </tr>
    </thead>
    <tbody>
    {% for record in gkresult %}
    <tr	value="{{record["godownid"]}}">
      <td class="smwrap1 calign">
        <input class="user_role" accesskey="t" type="checkbox">
      </td>
      <td class="smwrap lalign">
        {{record["godownname"]}}
      </td>
      <td class="smwrap lalign" >
        {{record["godownstate"]}}
      </td>
      <td class="smwrap lalign">
        {{record["godownaddress"]}}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
    <small id="txtareahelp" class="form-text text-muted">{% trans %}Press 'Esc' Key from Godowns Lists to shift focus to Security Question.{% endtrans %}</small><br>
    <small id="txtareahelp" class="form-text text-muted">{% trans %}Press 'Space' Key in Godown Lists to Check or UnCheck CheckBox Button.{% endtrans %}</small><br>
    <small id="txtareahelp" class="form-text text-muted">{% trans %}Press 'Enter' Key or 'UpArrow' Key in Godown Lists to change focus on Godown present in List.{% endtrans %}</small>
    {%endif%}
