<!DOCTYPE html>
<html lang="en">
<head>
	{% if inout == "9" %}
		{% if del_unbilled_type == "All" %}
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Inward Deliveries - Invoices Not Received | All Godowns | All Types{% endtrans %}</title>
		{% else %}
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Inward Deliveries - Invoices Not Received | All Godowns | Delivery Type: {% endtrans %}{{del_unbilled_type}}</title>
		{% endif %}
	{% elif inout == "15" %}
		{% if del_unbilled_type == "All" %}
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Outward Deliveries - Invoices Not Prepared | All Types | All Godowns{% endtrans %}</title>
		{% else %}
		<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Outward Deliveries - Invoices Not Prepared | All Godowns | Delivery Type: {% endtrans %}{{del_unbilled_type}}</title>
		{% endif %}
	{% endif %}
<style type="text/css">
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#unbill_del_table td {
	font-size: 75%;
	padding: 4 !important;
	margin: 4 !important;
}

#unbill_del_table th {
	font-size: 85%;
}
.card-view .title {
		font-weight: bold;
		display: inline-block;
		min-width: 30%;
		text-align: left !important;
}

#unbill_del_table tbody {
		display:block;
		height: calc(69vh);
		overflow-y:scroll;
}
#unbill_del_table thead,#unbill_del_table tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
}
#unbill_del_table thead {
		width: calc( 99.1% )
}
.ralign{
	text-align:right;

}
.cred{
	color:red;
}
.calign{
	text-align:center;
}
.smwrap{
width:3%
}

.smwrap1{
width:1.8%
}

.mdwrap{
width:6%
}
.lngwrap{
width:22%
}
.ewrap{
	width:8%
}

</style>
</head>
<body>
  <div class="col-xs-10 nopadding">
	{% if inout == "9" %}
		{% if del_unbilled_type == "All" %}
	<span style="margin-left:28%; display:table;"><strong>{% trans %}Inward Deliveries - Invoices Not Received{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong> {% trans %}| All Godowns | All Types{% endtrans %}</span>
		{% else %}
	<span style="margin-left:28%; display:table;"><strong>{% trans %}Inward Deliveries - Invoices Not Received{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong> {% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong></span>
		{% endif %}
	{% elif inout == "15" %}
		{% if del_unbilled_type == "All" %}
	<span style="margin-left:28%; display:table;"><strong>{% trans %}Outward Deliveries - Invoices Not Prepared{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | All Types{% endtrans %}</span>
		{% else %}
	<span style="margin-left:28%; display:table;"><strong>{% trans %}Outward Deliveries - Invoices Not Prepared{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong></span>
		{% endif %}
	{% endif %}
  </div>
  <div class="pull-right input-group input-group-sm" style="margin-bottom:2px;">
    <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
    </span>
    <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
    <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
    </span>
  </div>
	<div class="row">
		<table id="unbill_del_table" class="table shadow table-bordered del_unbilled_table" >
			<thead class="bg-primary">
				<tr>
					<th class="smwrap1 calign">{% trans %}Sr.No.{% endtrans %}</th>
					<th class="mdwrap calign">{% trans %}Deli. Note No.{% endtrans %}</th>
					<th class="mdwrap calign">{% trans %}Deli. Note Date{% endtrans %}</th>
					{% if inout == "9" %}
					<th class="ewrap calign">{% trans %}Supplier Name{% endtrans %}</th>
					{% elif inout == "15" %}
					<th class="ewrap calign">{% trans %}Customer Name{% endtrans %}</th>
					{% endif %}
					<th class="mdwrap calign">{% trans %}Godown Name{% endtrans %}</th>
					{% if del_unbilled_type == "All" %}
					<th class="mdwrap calign" >{% trans %}Delivery Type{% endtrans %}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for record in gkresult %}
				<tr	data-value="{{record['dcid']}}">
					<td class="smwrap1 calign">
						{{record['srno']}}
					</td>
					<td class="mdwrap calign">
						<a class="dcno" href="">{{record['dcno']}}</a>
					</td>
					<td class="mdwrap calign">
						{{record["dcdate"]}}
					</td>
					<td class="ewrap calign">
						{{record["custname"]}}
					</td><td class="mdwrap calign">
						{{record["goname"]}}
					</td>
					{% if del_unbilled_type == "All" %}
					<td class="mdwrap calign">
						{{record["dcflag"]}}
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">
	  <button type="button" class="btn btn-sm btn-danger" id="tbback" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Bac<u>k</u>{% endtrans %}</button>
	  {# Depending Report type (i.e "Delivery In"/"Delivery Out") Button will shows. #}
	  {% if inout == "9" %}
	    <button type="button" class="btn btn-sm btn-primary inoutdel" id="inwarddel" accesskey="o"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %} View <u>O</u>utward Deliveries{% endtrans %}</button>
	  {% elif inout == "15" %}
	    <button type="button" class="btn btn-sm btn-primary inoutdel" id="outwarddel" accesskey="i"><i class="fa fa-eye" aria-hidden="true"></i>{% trans %} View <u>I</u>nward Deliveries {% endtrans %}</button>
	    {% endif %}
	      <button type="button" class="btn btn-sm btn-primary" id="printbutton" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
	</span>
	<input type="hidden" id="inputdate" value="{{inputdate}}">
	<input type="hidden" id="inout" value="{{inout}}">
	<input type="hidden" id="modalindex" value=""></input>
	<input type="hidden" id="del_unbilled_type" value="{{del_unbilled_type}}">
	<div id="viewdc">
	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/unbilled_deliveries_report.js')}}"></script>
</body>
</html>
